<link rel="stylesheet" href="<%= assetPath("user.css") %>">

<div class="profile_update">
    <div class="profile_display">
        <img src="<%= user_profile.avatar %>" alt="<%= user.name %>">
       
        <% if(locals.user.id==user_profile.id) {%>
            <h1>
                <%= user_profile.name %>
            </h1>

            <h3>Update Your Profile</h3>
            <form action="/user/update/<%= user_profile.id %>" enctype="multipart/form-data" method="post">
                <div class="Update_profile">
                    <div>
                        <input type="text" name="name" id="name" placeholder="name">
                        <input type="email" name="email" id="email" placeholder="email">
                    </div>
                    <input type="file" name="avatar" id="file">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <%}else{%> 
                <h1>
                    <%= user_profile.name %>
                </h1>
                
                <%}%>
    </div>
    <%- include("_user_info")%>
</div>